# Copy to walg.env to store database backups in S3 instead of locally
WALG_S3_PREFIX=s3://bucket/project
AWS_ENDPOINT=
AWS_REGION=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
# Required with S3, generate with: openssl rand -hex 32
WALG_LIBSODIUM_KEY=
WALG_LIBSODIUM_KEY_TRANSFORM=hex