services:
  backend:
    environment:
      - "DJANGO_ENV=production"
      - "DJANGO_ALLOWED_HOSTS=${MY_DOMAIN}"
      - "DJANGO_CSRF_TRUSTED_ORIGINS=https://${MY_DOMAIN}"
    labels:
      - "traefik.http.routers.production.rule=Host(`${MY_DOMAIN}`)"
      - "traefik.http.routers.production.entrypoints=websecure"
      - "traefik.http.routers.production.tls.certresolver=le-resolver"
      - "traefik.http.routers.production.priority=1"

  nginx:
    labels:
      - "traefik.http.routers.staticfiles.entrypoints=websecure"
      - "traefik.http.routers.staticfiles.tls.certresolver=le-resolver"
